.contacts {
    display: flex;
    margin-left: auto;
&__item:not(:last-child) {
    margin-right: 40px;
}

&__link {
    display: flex;
    align-items: center;

    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;

    transition: color 250ms $timing-function;
&:focus,
&:hover {
    color: $selection-color;
}
}
&__icon {
    margin-right: 10px;
    fill: currentColor;

    transition: fill 250ms $timing-function;
}
}